<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <h3>List of Appointments</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" >
                <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>User Name</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Confirmed?</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody style="background-color: #e3e4e4">
                <tr th:if="${!eachAppointment.confirmed}" data-th-each="eachAppointment : ${appointments}">
                    <td data-th-text="${eachAppointment.id}">...</td>
                    <td data-th-text="${eachAppointment.date}">...</td>
                    <td data-th-text="${eachAppointment.location}">...</td>
                    <td data-th-text="${eachAppointment.description}">...</td>
                    <td data-th-text="${eachAppointment.confirmed}">...</td>
                    <td>
                        <a th:href="@{/appointment/{id}/confirm(id=${eachAppointment.id})}">confirm</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>