<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <h3>List of Users</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Primary Account</th>
                    <th>Saving Account</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody style="background-color: #e3e4e4">
                <tr data-th-each="eachUser : ${users}">
                    <td data-th-text="${eachUser.username}">..</td>
                    <td data-th-text="${eachUser.email}">...</td>
                    <td data-th-text="${eachUser.phone}">...</td>
                    <td data-th-text="${eachUser.primaryAccount.getAccountBalance()}">...</td>
                    <td data-th-text="${eachUser.savingsAccount.getAccountBalance()}">...</td>
                    <td data-th-text="${eachUser.enabled}">...</td>
                    <td><a th:href="@{#}">disable</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>